@use "../global" as global;

.conceptTop {
    position: relative;
    padding-top: 180px;
    padding-bottom: 107px;
    margin-top: 60px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(416 / 1280 * 100%);
        background: url(../img/front/concept-bg.svg) no-repeat center
            center/contain;
        width: 100%;
        height: 725px;
    }

    &__flex {
        display: flex;
        position: relative;
        gap: 95px;
    }

    &__img {
        width: 50%;
        & > img {
            border-radius: 0px 20px 20px 0px;
            object-fit: cover;
            width: 100%;
            height: 438px;
        }
    }

    &__left {
        width: calc(407 / 1280 * 100%);
    }

    &__textArea {
        margin-bottom: 40px;
        margin-top: 35px;
    }

    &__sub {
        font-size: 14px;
        font-weight: bold;
        line-height: calc(14 / 36);
        letter-spacing: 1.4px;
        color: global.$main-color;
        margin-bottom: 28px;
    }

    &__ttl {
        font-size: 28px;
        font-weight: bold;
        line-height: calc(44 / 28);
        letter-spacing: 1.4px;
        margin-bottom: 40px;
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        text-align: justify;
    }

    &__btnArea {
    }

    &__btn {
        display: inline-block;
        padding: 12px 46px;
        background-color: #fff;
        color: global.$main-color;
        border: 1px solid global.$main-color;
        font-size: 14px;
        border-radius: 24px;
    }
}
