@use "../global" as global;

.conceptTop {
    position: relative;
    margin-top: 60px;
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        background: url(../img/front/concept-bg.svg) no-repeat center
            center/contain;
        height: 725px;
        width: 864px;
        z-index: -1;
    }

    &__flex {
        display: flex;
        justify-content: center;
    }

    &__img {
    }

    &__textArea {
    }

    &__sub {
    }

    &__ttl {
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}
