@use "../global" as global;

.guidTop {
    margin-top: 140px;

    &__headBg {
        position: relative;
        width: 100%;
        height: calc(202 / 1280 * 100vw);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: inherit;
            background: url(../img/front/bg-top.svg) no-repeat center
                center/cover;
            top: 0;
            left: 0;
        }
    }

    &__contentBg {
        background-color: global.$sub-color2;
        padding-bottom: 82px;
    }

    &__content {
        &__list {
            display: flex;
            justify-content: center;
            gap: 80px;
        }

        &__item {
            width: 50%;

            &:hover {
                .guidTop__content__item__img {
                    & > img {
                        transform: scale(1.1);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(100% - 6.5px * 2);
                        height: calc(100% - 6.5px * 2);
                        border: 2px solid #fff;
                        border-radius: 20px;
                        z-index: 10;
                    }

                    &::after {
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            &__link {
                position: relative;
            }

            &__img {
                position: relative;
                border-radius: 20px;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 20px;
                    transition: all 0.3s;
                }

                & > img {
                    transition: transform 0.3s;
                }
            }

            &__textArea {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 240px;
                height: 131px;
            }

            &__ttl {
                font-size: 28px;
                font-weight: bold;
                line-height: calc(32 / 28);
                letter-spacing: 2.24px;
                color: #fff;
                position: relative;
                margin-bottom: 42px;

                &::before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 40px;
                    background-color: #fff;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &__cat {
                font-size: 16px;
                font-weight: bold;
                line-height: calc(28 / 16);
                letter-spacing: 0.1em 0.28px;
                color: #fff;
            }
        }

        &__text {
            font-size: 14px;
            line-height: calc(28 / 14);
            margin-top: 60px;
            background-color: #fff;
            padding: 40px;

            &__span {
                color: global.$accent-color;
            }
        }
    }

    &__footerBg {
        position: relative;
        width: 100%;
        height: calc(97 / 1280 * 100vw);

        &::before {
            content: "";
            position: absolute;
            height: inherit;
            width: inherit;
            background: url(../img/front/bg-bottom.svg) no-repeat top
                center/cover;
        }
    }

    &__footer__icon {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: calc(97 / 1280 * 100vw);
            left: 40px;
            width: 57px;
            height: 57px;
            background: url(../img/icon/deco-kirakira2-w.svg) no-repeat center
                center/contain;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: calc(76 / 1280 * 100vw);
            right: 20.45px;
            width: 125.31px;
            height: 138px;
            background: url(../img/icon/deco-kirakira-w.svg) no-repeat center
                center/contain;
        }
    }
}
