@use "../global" as global;

.mv {
    margin-top: 40px;
    position: relative;

    &__bg {
    }

    // mv-readArea

    &__read {
        position: absolute;
        bottom: 52px;
        left: 120px;
        z-index: 50;
    }
}
