@use "../global" as global;

.footer-menu {
    margin-top: 160px;
}

.footer {
    background-color: global.$main-color;
    height: 55px;
    display: grid;
    place-content: center;

    &__copy {
        & > small {
            font-size: 14px;
            color: #fff;
            line-height: calc(36 / 14);
        }
    }
}
